.ns {
    font-family: 'Noto Sans KR', sans-serif;
}

.customBtnArea {
    text-align: right;
}

.eachBoard, .replyModi, .replyDel {
    cursor: pointer;
}

.eachBoard:hover {
    color: black;
    font-weight: bold;
}

.readModalArea {
    width: 100%;
}

.left {
    width: 50%;
    float: left;
    box-sizing: border-box;
}

.right {
    width: 50%;
    float: right;
    box-sizing: border-box;
}

.custom-modal-css {
    width: 100vw;
}

#reaplyListArea{
    width: 382.4px; height:384px;
    overflow: auto;
}

#replyTable {
    width: 100%;
    border-spacing: 1px;
    border-collapse: separate;
    font-size: small;
}

#replyWriterTD, #replyDateTD {
    text-align: center;
    width: 15%
}

#replyContentTD {
    text-align: center;
}

#replyButtonTD {
    text-align: center;
    width: 25%
}

#regiModal-attachedFileListUl, #readModal-attachedFileListUl{
    list-style: none;
    margin: 0;
    padding: 0;
}
#regiModal-attachedFileListUl li, #readModal-attachedFileListUl li {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border : 0;
    float: left;
}
